   
    <include file="Header:index" />
    <div class="content">
         
        
        
                <ul class="breadcrumb">
            <li><a href="index.html">其它设置</a> <span class="divider">/</span></li>
            <li class="active">操作记录</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    

<div class="row-fluid">
    
            <div class="well">
              
              <table class='table'>
              	<tr><th>管理员</th><th>操作类型</th><th>操作内容</th><th>操作时间</th></tr>
                <foreach name='list' item='v'>
                  <tr><td style='text-align:center'>{$v.user}</td><td style='text-align:center'>{$v.type}</td><td>{$v.content}</td><td style='text-align:center'>{$v.date}</td></tr>
                </foreach>
              </table>
              <div class="pages">
          　　{$page}
              </div>


          </div>
          
</div>            
   <include file="Footer:index" />                 