<!DOCTYPE html>
<html lang="en">
  <head>
    <include file="Header:head" />
  </head>
  <body>
    <include file="Header:menu" />
<div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">订单付款</div>
            <div class="panel-body ov">
              <div class="panel panel-default">
                 <div class="panel-body">
                    <h4>订单编号:<span style="color:Red">{$cart.ordersn}</span></h4>
                    <p>订单状态:<span style="color:Red">{:$status[$cart['status']]}</span></p>
                 </div>
              </div>
              <div class="panel panel-default">
                 <div class="panel-body">
                    <h4>付款金额:<span style="color:green">{$cart.total|numberformat=###,2}</span></h4>
                    <p>CF帐户余额:<span style="color:Red">{$uinfo.ly|numberformat=###,2}</span></p>
                    <p style="margin:10px 0 0 0"><button class="btn btn-danger" id="pay">确定付款</button></p>
                 </div>
              </div>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>商品名称</th>
                        <th>商品图片</th>
                        <th>商品价格</th>
                        <th>购买数量</th>
                        <th>小计</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name='list' item='v'>
                    <tr>
                        <td class="taskStatus"><span class="pending">{$v.proname}</span></td>
                        <td class="taskStatus"><img src="__ROOT__/Uploads{$v.img}" style="height:50px;padding:5px 5px;border:1px solid #ccc;backgroup:#fff"></td>
                        <td class="taskStatus">{$v.money|numberformat=###,2}</td>
                        <td class="taskStatus">{$v.number}</td>
                        <td class="taskStatus">{$v.total|numberformat=###,2}</td>
                    </tr>
                    </foreach>
                    <tr>
                        <td colspan="5" align="right">
                            数量:<span style="color:red">{$cart.number}</span> 
                            合计:<span style="color:red">{$cart.total|numberformat=###,2}</span> 
                            
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
      <div class="col-sm-3">
            <div class="list-group-item active">快捷导航</div>
            <a class="list-group-item" href="{:U('index.php/product/index')}">AC商城</a>
          <a class="list-group-item" href="{:U('index.php/product/cart')}">购物车</a>
          <a class="list-group-item" href="{:U('index.php/product/orders')}">我的订单</a>
          <a class="list-group-item" href="{:U('index.php/product/address')}">收货地址</a>
          <br>
          <include file="Header:uinfo" />
      </div>
    </div>
  </div>
  <script>
  $(document).ready(function(){
      $("#pay").click(function(){
        url="{:U('index.php/product/orderpaysave')}";
        id={$cart.id};
        $.post(url, {id:id}, function(value) {
            var data = eval("("+value+")");
            alert(data['info']);
            if(data['error']==1) location.href="{:U('index.php/product/orders')}";
         });
      });
  });
  </script>
</body>
</html>