<!DOCTYPE html>
<html lang="en">
  <head>
    <include file="Header:head" />
  </head>
  <body>
    <include file="Header:menu" />
<div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">生成订单</div>
            <div class="panel-body ov">
              <div class="well">
                <div class="col-sm-9">
                  <div class="input-group input-group-sm">
                      <label class="input-group-addon">选择收货地址:</label>
                      <select id="address" class="form-control">
                        <foreach name="address" item="v">
                          <option value="{$v.id}" {:$v['status']?"selected='selected'":""} >{$v.username} {$v.tel} {$v.address}</option>
                        </foreach>
                        </select>
                  </div>
                </div>
                <div class="col-sm-3">[<a href="{:U('index.php/product/address')}">管理收货地址</a>]</div>
                <div class="clear"></div>
              </div>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>商品名称</th>
                        <th>商品图片</th>
                        <th>商品价格</th>
                        <th>购买数量</th>
                        <th>小计</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name='list' item='v'>
                    <tr>
                        <td class="taskStatus"><span class="pending"><a href="{:U('index.php/product/view',array("id"=>$v['id']))}" target="_bland">{$v.proname}</a></span></td>
                        <td class="taskStatus"><a href="{:U('index.php/product/view',array("id"=>$v['id']))}" target="_bland"><img src="__ROOT__/Uploads{$v.img}" style="height:50px;padding:5px 5px;border:1px solid #ccc;backgroup:#fff"></a></td>
                        <td class="taskStatus">{$v.money|numberformat=###,2}</td>
                        <td class="taskStatus">{$v.number}</td>
                        <td class="taskStatus">{$v.total|numberformat=###,2}</td>
                    </tr>
                    </foreach>
                    <tr>
                        <td colspan="5" align="right">
                            数量:<span style="color:red">{$cart.number}</span> 
                            合计:<span style="color:red">{$cart.total|numberformat=###,2}</span>
                            <a href="javascript:void(0)" class="btn btn-danger" id="order">生成订单 <i class="fa fa-angle-right"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
      <div class="col-sm-3">
            <div class="list-group-item active">快捷导航</div>
            <a class="list-group-item" href="{:U('index.php/product/index')}">AC商城</a>
          <a class="list-group-item" href="{:U('index.php/product/cart')}">购物车</a>
          <a class="list-group-item" href="{:U('index.php/product/orders')}">我的订单</a>
          <a class="list-group-item" href="{:U('index.php/product/address')}">收货地址</a>
          <br>
          <include file="Header:uinfo" />
      </div>
    </div>
  </div>
  <script>
  $(document).ready(function(){
      $("#order").click(function(){
        url="{:U('index.php/product/ordersave')}";
        address=$("#address").val();
        $.post(url, {address:address}, function(value) {
            var data = eval("("+value+")");
            alert(data['info']);
            if(data['error']==1) location.href="{:U('index.php/product/orders')}";
         });
      });
  });
  </script>
</body>
</html>