<!DOCTYPE html>
<html lang="en">
  <head>
    <include file="Header:head" />
  </head>
  <body>
    <include file="Header:menu" />
<div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading"> 系统公告</div>

            <div class="panel-body ov">
              	<div class="row-fluid">
                    <div class="span12 center" style="font-size:18px;font-weight: bold; text-align: center;padding:10px 0 20px 0;border-bottom:1px solid #eee;margin:0 0 20px 0;">{$info.title}</div>
                    <div class="span12" style="padding:0 10px;">{$info.content}</div>
                    <div class="span12 center" style="text-align: center;padding:10px 0 20px 0;border-top:1px solid #eee;">
                    	<button class="btn btn-primary" onclick="history.back()">返 回</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
       <div class="col-sm-3">
          <div class="list-group-item active">快捷导航</div>
          <a class="list-group-item" href="{:U('index.php/message/index')}">站内邮件</a>
          <a class="list-group-item" href="{:U('index.php/News/index')}">系统公告</a>
          <br>
          <include file="Header:uinfo" />
      </div>
    </div>
  </div>
</body>
</html>