<!DOCTYPE html>
<html lang="en">
  <head>
    <include file="Header:head" />
  </head>
  <body>
    <include file="Header:menu" />
<div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">在线充值</div>
                <div class="panel-body ov">
                    <div class="row">
                        <div class="col-sm-12"> 
            <php>

          echo $sHtmlText;
            </php>
            正在跳转到支付平台...
    <script language="javascript">
      /*
      document.getElementById("frm1").submit();
      */
    </script>

        </div>
        </div>
            </div>
        </div>
      <div class="col-sm-3">
            <div class="list-group-item active">快捷导航</div>
            <a class="list-group-item" href="{:U(C('FILE_IN').'/money/online')}">在线充值</a>
          <br>
          <include file="Header:uinfo" />
      </div>
    </div>
  </div>

</body>
</html>