<include file="Header:index" />
<div class="content">
        <div class="content_top">
            银行信息
        </div>
        <div class='main'>
            
            <form action="{:U('index.php/User/banksave',array('id'=>$bank['id']))}" method="post" id="fn" target="hidden_frame">
    <table class="table table-bordered table-hover definewidth m10" id="cndisplay" style="display:">
        <tr>
            <td width="10%" class="tableleft">银行名称</td>
            <td>{$bankstr}</td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">开户名</td>
            <td>{$realname|cut_str=###}</td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">银行帐号</td>
            <td><input type="text" name="bankcard" id="bankcard" value="{$bank.bankcard}" style="width:250px"/> </td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">开户行</td>
            <td><input type="text" name="bankaddress" id="bankaddress" value="{$bank.bankaddress}" style="width:300px"/></td>
        </tr>
    </table>
    </form>
    <div class="form-inline definewidth m10"><button  class="btn btn-primary" type="button" id="submit">保存</button></div>
    
    <table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>银行名称</th>
        <th>开户名</th>
        <th>银行帐号</th>
        <th>开户行</th>
        <th>操作</th>
    </tr>
    <foreach name='banklist' item='v'>
      <tr>
            <td align='center'>{$v.bank}</td>
            <td align='center'>{$realname|cut_str=###}</td>
            <td align='center'>{$v.bankcard}</td>
            <td align='center'>{$v.bankaddress}</td>
            <td align='center'>[<a href='{:U("index.php/User/bank",array("id"=>$v["id"]))}'>编辑</a>]</td>
        </tr>  
    </foreach>
    </table>
    <script>
        $(function () {       
            $("#submit").click(function(){
                if(!confirm("确定绑定银行信息吗?绑定后不可修改")) return false;
                var bankcard=$("#bankcard").val();
                if(!bankcard){
                    alert("银行帐号不可以为空");
                    return false;
                }
                $("#fn").submit();
             });
        });
    </script>
        </div>
        <div class="clear"></div>
    </div>
<include file="Footer:index" />