<!DOCTYPE html>
<html lang="en">
  <head>
    <include file="Header:head" />
  </head>
  <body>
    <include file="Header:menu" />
<div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading">
              更改密码
          </div>
          <div class="panel-body ov">
                    <form  class="form-horizontal">
                        <div class="fma">
                            <div class="fx1">能量编号:</div>
                            <div class="fx2">
                                <span id="cname">{$uinfo.username}</span>
                            </div>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon">修改类型:</label>
                                <select id='type' class="form-control">
                                    <option value='0'>一级密码</option>
                                    <option value='1'>二级密码</option>
                                </select>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon">原密码:</label>
                                <input type="password" placeholder="" id="op"  required="" class="form-control">
                        </div><br>
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon">新密码:</label>
                                <input type="password" placeholder="" id="p" required="" class="form-control">
                        </div><br>
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon">确认新密码:</label>
                                <input type="password" placeholder="" id="rp" required="" class="form-control">
                        </div><br>
                        <div class="form-actions">
                            <button class="btn btn-primary" type="button" id="reg">确定</button>
                        </div>
                    </form>
                </div>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="list-group-item active">快捷导航</div>
          <a class="list-group-item" href="{:U('index.php/user/index')}">信息更新</a>
          <a class="list-group-item" href="{:U('index.php/user/agent')}">申请报单中心</a>
          <a class="list-group-item" href="{:U('index.php/user/password')}">更改密码</a>
          <br>
           <include file="Header:uinfo" />
      </div>
    </div>
  </div>
    <script>
        $(function () {
            $("#reg").click(function(){
                var type=$("#type").val();
                var op=$("#op").val();
                var p=$("#p").val();
                var rp=$("#rp").val();

                if(!op){
                    alert("请输入原密码");
                    return false;
                }
                if(!p){
                    alert("请输入新密码");
                    return false;
                }
                if(!rp){
                    alert("请确认新密码");
                    return false;
                }
                $.post("{:U(C('FILE_IN').'/User/passwordsave')}", {type:type,op:op,p:p,rp:rp}, function(value) {
                    //alert(value);
                    var data = eval("("+value+")");
                    alert(data['info']);
                    if(data['error']==1) window.location.reload();
                });
            });
        });
    </script>

</body>
</html>