<!DOCTYPE html>
<html lang="en">
  <head>
    <include file="Header:head" />
  </head>
  <body>
    <include file="Header:menu" />
<div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading">
              升级帐户
          </div>
          <div class="panel-body ov">
                    <form  class="form-horizontal">
                        <div class="fma">
                            <div class="fx1">能量编号:</div>
                            <div class="fx2">
                                <span id="cname">{$uinfo.username}</span>
                            </div>
                        </div><br>
                        <div class="fma">
                            <div class="fx1">可用ECF余额:</div>
                            <div class="fx2">
                                {$uinfo.coina}
                            </div>
                        </div><br>
                        <div class="fma">
                            <div class="fx1">当前级别:</div>
                            <div class="fx2">
                                {:$bonus[$uinfo['utype']]['title']}
                            </div>
                        </div><br>
                        
                                <php>
                                    $s='<div class="input-group input-group-sm">
                            <label class="input-group-addon">升级级别:</label><select name="utype" id="utype" class="form-control" class="form-control">';
                                    $key=0;
                                    foreach($bonus as $v){
                                        if($v['id']>$uinfo['utype']){
                                            $s.="<option value='".$v['id']."'>".$v['title']." [<!--差额: ".($v['money']-$bonus[$uinfo['utype']]['money'])."  -->ECF:".money2coin($v['money']-$bonus[$uinfo['utype']]['money'])."]</option>";
                                            $key=1;
                                        }
                                    }
                                    $s.="</select>
                        </div>";
                                    echo $key?$s:'<div class="fma"><div class="fx1"></div><div class="fx2">您当前已是最高等级,不可以进行升级</div></div>';
                                </php>
                            <br>
                        <if condition="$key">
                        <div class="form-actions">
                            <button class="btn btn-primary" type="button" id="submit">确定</button>
                        </div>
                        </if>
                    </form>
                    </div>
          <div class="panel-footer" style="color:Red">提示：每个账户只有两次升级能量级别的机会，一旦两次升级机会使用完毕，该账户将不能再进行账户升级操作，请合理安排升级计划！</div>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="list-group-item active">快捷导航</div>
          <a class="list-group-item" href="{:U('index.php/Member/reg')}">注册新能量</a>
          <a class="list-group-item" href="{:U('index.php/User/update')}">升级帐户</a>
          <a class="list-group-item" href="{:U('index.php/User/futou')}">复投帐户</a>
          <a class="list-group-item" href="{:U('index.php/Member/agent')}">注册审核</a>
          <a class="list-group-item" href="{:U('index.php/Member/agentlist')}">审核记录</a>
          <br>
          <include file="Header:uinfo" />
      </div>
    </div>
  </div>
    <script>
        $(function () {
            $("#submit").click(function(){
                var utype=$("#utype").val();
                $.post("{:U(C('FILE_IN').'/User/updatesave')}", { utype:utype}, function(value) {
                    //alert(value);
                    var data = eval("("+value+")");
                    alert(data['info']);
                    if(data['error']==1) window.location.reload();
                });
            });
        });
    </script>

</body>
</html>