  <title>{:$web['webtitle']}</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="templatemo" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/style.css" />
  <script src="__PUBLIC__/js/jquery.js"></script>
  <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/js/jquery.peity.js"></script>
  <script src="__PUBLIC__/js/oolite.js"></script>
  <script src="__PUBLIC__/js/xtree.js"></script>
  <script src="__PUBLIC__/js/css3-mediaqueries.js"></script>
  <!--[if lt IE 10]>
    <script type="text/javascript" src="__PUBLIC__/js/pie/PIE.js"></script>
     <script type="text/javascript">
    $(function() {
    if (window.PIE) {
    $('.rounded').each(function() {
    PIE.attach(this);
    });
    }
    });
        </script>
  <![endif]-->
  <script type="text/javascript">
    $(document).ready(function(){
      $("#menuspan").click(function(){
      $("#menu").toggle(1000);
      });
    });
</script>