 
    <include file="Header:index" />
    <div class="content">
                <ul class="breadcrumb">
            <li><a href="#">消息管理</a> <span class="divider">/</span></li>
            <li class="active">会员列表</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    

<div class="row-fluid">
    <form action='{:U(C("FILE_IN")."/Message/viewsave",array("id"=>$message["id"]))}' method='POST'  target='hidden_frame'>
    <table class='table'>
        <tr>
            <th colspan='2'> 留言信息</th> 
        </tr>
        <tr>
            <td width='' align='right' class='tableleft'>发件人</td>
            <td><php>echo gettableinfo("id=".$message['uid']);</php></td>
        </tr>
        <tr>
            <td width='15%' align='right' class='tableleft'>留言类型</td>
            <td>个人留言</td>
        </tr>
        <tr>
            <td width='' align='right' class='tableleft'>留言标题</td>
            <td>{$message.title}</td>
        </tr>
        <tr>
            <td width='' align='right' class='tableleft'>留言内容</td>
            <td>{$message.content}</td>
        </tr>
        <tr>
            <td width='' align='right' class='tableleft'>留言时间</td>
            <td>{$message.date}</td>
        </tr>
        <tr>
            <td width='' align='right' class='tableleft'>回复内容</td>
            <td><textarea name='hcontent' style='height:50px;width:90%' id='hcontent'>{$message.hcontent}</textarea></td>
        </tr>
        <tr>
            <td width='' align='right' class='tableleft'></td>
            <td><input type='submit' id='submit' value='回复' class='btn btn-primary'></td>
        </tr>
    </table>
    </form>
    <script>
    $(function(){
        $('#submit').click(function(){
            var hcontent=$('#hcontent').val();
            if(!hcontent) {
                alert('请填写回复信息');
                return false;
            }
        });
    });
    </script>
</div>            
   <include file="Footer:index" />