 
    <include file="Header:index" />
    <div class="content">
                <ul class="breadcrumb">
            <li><a href="#">管理员管理</a> <span class="divider">/</span></li>
            <li class="active">权限</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    

<div class="row-fluid">
    <div class="well">
        <form action="" method="post">
            <foreach name="data" item="v">
                <div style="margin:5px;border-bottom:1px dotted #ccc">
                    <button type="button" class="btn btn-primary">{$v['title']}</button>
                    <input type="checkbox" name="access[]" class="level1" value="{$v['id']}" <?php if(in_array($v['id'], $ids))echo "checked"?>>
                    <foreach name="v['child']" item="con">
                        <div style="margin:5px;padding:5px 0 0 0;border-top:1px solid #555">
                            <button type="button" class="btn btn-success">{$con['title']}</button>
                            <input type="checkbox" name="access[]" class="level2" value="{$con['id']}" <?php if(in_array($con['id'], $ids))echo "checked"?>>
                        </div>
                        <div style="margin:5px;">
                             <ul>
                            <foreach name="con['child']" item="act">
                                <li style="width:140px;padding:5px 5px 0 0;float:left;"><button type="button" class="btn btn-info" >{$act['title']}</button>
                                <input type="checkbox" name="access[]" class="level3" value="{$act['id']}" <?php if(in_array($act['id'], $ids))echo "checked"?>></li>
                            </foreach>
                            <li class="clear"></li>
                        </ul>
                        </div>
                    </foreach>
                </div>
            </foreach>
            <input type="hidden" name="id" value="{$id}">
            <button style="margin-left:10px" type="submit" class="btn btn-default">保存</button>

        </form>
    </div>
    <script type="text/javascript">
        $(function(){
            $('.level1').click(function(){
                if($(this).prop('checked')){
                    $(this).parent().find("input[type='checkbox']").prop('checked',true);
                }else{
                    $(this).parent().find("input[type='checkbox']").prop('checked',false);
                }   
            })
            $('.level2').click(function(){
                if($(this).prop('checked')){
                    $(this).parent().next().find("input[type='checkbox']").prop('checked',true);
                }else{
                   $(this).parent().next().find("input[type='checkbox']").prop('checked',false); 
                }
                
            })
            $('.level3').click(function(){
                var is = $(this).prop('checked');
                if(is){
                    $(this).prop('checked',true);
                }else{
                    $(this).prop('checked',false);
                }
            })
        })
    </script>
</div>            
   <include file="Footer:index" />