@charset "utf-8";
.Xtree_sub{padding-left:21px; background-color:#fff;background:url(../img/Xtreebg.gif) repeat-y;}
.Xtree_title{height:21px;padding:0;margin:0; background-color:#fff}
.Xtree_title span{background:url(../img/Xtree.gif) no-repeat;height:21px;padding-left:21px;display:inline-block; cursor:pointer}
.Xtree_title span label{height:21px;display:inline-block; background-color:#fff}
.Xtree_title span.X1{ background-position:0 0}
.Xtree_title span.X2{ background-position:0 -21px}
.Xtree_title span.X3{ background-position:0 -42px}
.Xtree_title span.X4{ background-position:-21px 0}
.Xtree_title span.X5{ background-position:-21px -21px}
.Xtree_title span.X6{ background-position:-21px -42px}
.Xtree_title span.X7{ background-position:-42px 0}
.Xtree_title span.X8{ background-position:-42px -21px}
.Xtree_title span.X9{ background-position:-42px -42px}
