@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);



html, body, div, span, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td  { margin: 0;	padding: 0;	border: 0;	vertical-align: baseline; }
ol, ul { list-style: none; }
article, aside, hgroup, header, footer, figure, figcaption, nav, section,time, mark, canvas, video, audio, details, summary { display:block; }
caption span { display:none; }

input, button, select, textarea {font-family:inherit; }
select, input {text-transform:none; vertical-align: middle ;  }

a { text-decoration:none;  cursor: pointer;  color:#666}
i, em { font-style:normal; }
a:hover { text-decoration:none;   }


ol, ul, li { list-style:none; }
button { font-family:'Nanum Gothic', sans-serif ; cursor: pointer; border:0; background:none;}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}

body { font-family:'Nanum Gothic', sans-serif; margin:0; padding:0; }

#redonav{background-color: #222222;
    border-color: #121212;}
#redonav_brand{color:white;}
/*瓿淀喌鞐氨*/
.mt05 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
.mt40 { margin-top:40px; }
.mt50 { margin-top:50px; }
.mt80 { margin-top:80px; }

.mb10 { margin-bottom:10px; }
.mb20 { margin-bottom:20px; }
.mb30 { margin-bottom:30px; }
.mb40 { margin-bottom:40px; }
.mb50 { margin-bottom:50px; }

.ml10 { margin-left:10px; }
.ml20 { margin-left:20px; }
.ml30 { margin-left:30px; }
.ml40 { margin-left:40px; }
.ml50 { margin-left:50px; }

.mr10 { margin-right:10px; }
.mr20 { margin-right:20px; }
.mr30 { margin-right:30px; }
.mr40 { margin-right:40px; }
.mr50 { margin-right:50px; }

.pt5 { padding-top:5px; }
.pt10 { padding-top:10px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt60 { padding-top:60px; }

.pb5 { padding-bottom:5px; }
.pb10 { padding-bottom:10px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px; }
.pb50 { padding-bottom:50px; }

.pl5 { padding-left:5px; }
.pl10 { padding-left:10px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl50 { padding-left:50px; }

.pr10 { padding-right:10px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr50 { padding-right:50px; }



.navbar-brand { font-size:24px; color:#FFF; font-weight:600; letter-spacing:.3em; }
.top-menu { float:right; overflow:hidden;   }
.top-menu li { float:left;  text-align:right; padding:10px 20px 0; }
.top-menu li a { color:#FFF; display:block; font-size:14px;  }

.bg-1 { background-color: #ddd; }
.bg-2 { background-color: #fff; }
.bg-3 { background-color: whitesmoke; }
.bg-4 { background-color: #fff; }
.bg-5 { background-color: whitesmoke; }

.page-title { font-size:34px; font-weight:bold; margin-bottom:80px; border-bottom:2px solid #ddd; text-shadow: 0px 1px #ffffff, 4px 4px 0px #dad7d7; color:#d9230f; }
.section-img > img { max-width:100%; text-align:center; }
.section-Box { color:#666; }
.section-meno { font-size:16px; border:1px solid #ddd; border:1px dashed #ddd; border-radius:10px; padding:25px; margin-top:20px;  background-color:#fefefe; line-height:1.8em;}
.section-meno li { margin-bottom:10px;  }
.section-meno li span { font-size:11px; }

.main-text-box { color:#222; }
.main-text-box > h2 { margin:0 0 20px; font-size:24px; }
.main-text-box > div { font-size:14px; line-height:2.0em; color:#666; }

.footer { background-color:#333; padding:10px 0; color:#FFF; }


.intro > div > h1 {
			text-align:center; 
		}
.intro p{
	width: 65%;
	margin: 20px auto 0;
	font-size: 1.5em;
	text-align:center; 
}
/* 
.twitter-share-button{
	position: absolute;
	z-index: 99;
	right: 149px;
	top: 9px;
} */

.bg1 { background:url('../images/bg-1.jpg')no-repeat center center; background-size:100%; 100%; }
.bg2 { background:url('../images/bg-2.jpg')no-repeat center center; background-size:100%; 100%; }
.bg3 { background:url('../images/bg-3.jpg')no-repeat center center; background-size:100%; 100%; }
.bg4 { background:url('../images/bg4.jpg')no-repeat 100% 100%; }
.text-bg { background-color:rgba(255,255,255,.7); padding-bottom:20px; }

.main_visual { clear: both; width: 100%; height: 70%; overflow: hidden;  }
.main-banner-zone {position: absolute; left: 0; top: 0; width: 300%; height: 70%; }
.main-banner-zone > li { float: left; width: 33.33333%; height: 100%; }
.main-banner-zone > li.main-banner-1 { background:url(../images/bg-1.jpg)no-repeat center center; background-size:100% 100%;  }
.main-banner-zone > li.main-banner-2 { background:url(../images/bg-2.jpg)no-repeat center center; background-size:100% 100%;  }
.main-banner-zone > li.main-banner-3 { background:url(../images/bg-3.jpg)no-repeat center center; background-size:100% 100%; }
