<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/css.css" rel="stylesheet" type="text/css">
<title>{$web.webtitle}</title>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/cnc.js"></script>
<script type="text/javascript">
	var VerifyUrl='{:U("index.php/Login/verify")}';
	var pub="__PUBLIC__";
	$(document).ready(function(){
		$("#verify").click(function(){
			$("#verify").attr("src",VerifyUrl+'?rand='+Math.random());
		});
		$("#submit").click(function(){
			var username=$("#username").val();
			var code=$("#code").val();
			if(!username){
				alert("会员编号不可以为空");
				return false;
			}
			if(!code){
				alert("请填写验证码");
				return false;
			}      
			
		 });
	});

</script>

</head>
<body>
<div class="logincontainer">
	
	<div class="topbanner" style='text-align:center;height:100px;'></div>
	
	<div class="nc">
		<div class="ncright" style='width:100%'>
			
			<div class="ncrightcontent" style='background: url(__PUBLIC__/img/loginbg.png) no-repeat #fff;'>			
           		<div class="loginadv"></div>
					<div class="login">
					<form action="{:U('index.php/Forget/cheusername')}" method='POST' id='fn'>
					<dd>
						<dt style="font-size:24px;font-weight:bold;border-bottom:1px solid #999;margin:0 0 15px 0;">找回密码--验证会员编号</dt>
						<dt>用 户 名:<input type='text' name='username' id='username' maxlength="20" style='width:200px;'></dt>
						<dt id='co'>验 证 码:<input type='text' name='code' id='code' style='width:100px;' maxlength="4"> <span style='padding:5px 0 0 0'><img src="{:U('index.php/Login/verify')}" alt="" id='verify' style='margin:0 0 -10px 0'/></span></dt>
						<dt style='text-indent:60px;'><input type='submit' id='submit' value='下一步' class='btn-primary btn'></dt>
					</dd>
				</form>
				</div>
                <div class="clear"></div>
			</div>
			
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="clear"></div>
</div>
</body>

</html>
