<!DOCTYPE html>
<html lang="en">
  <head>
    <include file="Header:head" />
  </head>
  <body>
    <include file="Header:menu" />
<div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">AD1AC币账户列表
                            <div class="pull-right">
                                <button class="btn btn-danger btn-xs" onclick="location.href='{:U('index.php/gtmarket/gd1')}'">我的AD1</button>
                            </div>
                        </div>
                        <div class="panel-body ov">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>                   
                                    <th>周期</th>
                                    <th>解冻日</th>
                                    <th>数额</th>
                                    <th>百分比</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody><php>$gdc=$coinset['gdc']+1;</php>
                                <for start='1' end='$gdc'>
                                <tr>
                                    <td class="taskStatus">第{$i}周期</td>
                                    <td class="taskStatus">{:date('Y-m-d H:i',$v['ti']+3600*24*$i*$coinset['gddong'])}</td>
                                    <td class="taskStatus">{:$v['gd1']*pow(2,$v['cai'])/$coinset['gdc']}</td>
                                    <td class="taskStatus">{$coinset.gdm}%</td>
                                    <td class="taskStatus">
                                        <php>
                                            $days=floor((time()-$v['ti'])/(24*3600*$coinset['gddong']));
                                            if($i>$days){
                                                echo "未解封";
                                            }else{
                                                if($i>$v['key2']){
                                                    echo "<span style='color:green'>已解封</span>";
                                                }else{
                                                    echo "<span style='color:#aaa'>已转帐</span>";
                                                }
                                                
                                            }
                                        </php>
                                    </td>
                                </tr>
                                </for>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">转出记录</div>
                        <div class="panel-body ov">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>                   
                                    <th>转出数目</th>
                                    <th>转出价格</th>
                                    <th>转出时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name='list' item='v'>
                                <tr>
                                    <td class="taskStatus">{$v.gd1}</td>
                                    <td class="taskStatus">{$v.price}</td>
                                    <td class="taskStatus">{$v['date']}</td>
                                </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                        </div>
        </div>
      <div class="col-sm-3">
          <div class="list-group-item active">快捷导航</div>
          <a class="list-group-item" href="{:U('index.php/Gtmarket/index')}">AD市场</a>
          <br>
          <include file="Header:uinfo" />
      </div>
    </div>
  </div>
    <script>
    $(document).ready(function(){
        $("#gt2").click(function(){
           var number=$("#gt2number").val();
           var price=$("#gt2price").val();
           var p=$("#gt2p").val();
           if(!number){
                alert("请输入卖出AC币数量");
                return false;
           }
           if(number<0){
                alert("请输入正确的卖出AC币数量");
                return false;
           }
           if(!p){
                alert("请输入二级密码");
                return false;
           }
           $.post("{:U('index.php/gtmarket/gt2save')}", {number:number,price:price,p:p}, function(value) {
                var data = eval("("+value+")");
                alert(data['info']);
                if(data['error']==1) window.location.reload();
             });
        });
    });
    </script>
</body>
</html>