
    <include file="Header:index" />
    <div class="content">
         
        
        
                <ul class="breadcrumb">
            <li><a href="index.html">官网设置</a> <span class="divider">/</span></li>
            <li class="active">新闻类别</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    

<div class="row-fluid">
    
            <div class="well">
              <form id='f' method='POST' action="{:U(C("FILE_IN").'/Indexnews/typesave')}">
              <table class="table table-bordered table-hover definewidth m10">
                <tr>
                    <td width="150" align='right'>类别名称</td>
                    <td><input type="text" name="title" id="title" value="{$data.title}"/> </td>
                </tr>
                <tr>
                    <td align='right'></td>
                    <td><input type="hidden" name="id" id="id" value="{$data.id}"/><input type="submit" id="button" class='btn btn-primary' value='保 存'></td>
                </tr>
            </table>
            </form>
          </div>
          
        <table class="table table-bordered table-hover definewidth m10">
            <tr>
                <th>类别名称</th>
                <th>操作</th>
            </tr>
            <foreach name='datalist' item='v'>
                <tr class='ce'>
                    <td>{$v.title}</td>
                    <td>[<a href="{:U(C("FILE_IN").'/Indexnews/types/',array('id'=>$v['id']))}">编辑</a>] [<a href="{:U(C("FILE_IN").'/Indexnews/typedelete/',array('id'=>$v['id']))}" target='hidden_frame'>删除</a>]</td>
                </tr>
            </foreach>
        </table>
</div>            
   <include file="Footer:index" />